<form class="form-horizontal">
	<h3>OctoCaseLight settings</h3>
	<div class="control-group">
		<label class="control-label">{{ _('Light On GCODE Command') }}</label>
		<div class="controls">
			<input id="light_On" type="text" class="input-small" data-bind="value: settings.plugins.octocaselight.gCodeOnCommand">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Light Off GCODE Command') }}</label>
		<div class="controls">
			<input id="light_Off" type="text" class="input-small" data-bind="value: settings.plugins.octocaselight.gCodeOffCommand">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Light State GCODE Command') }}</label>
		<div class="controls">
			<input id="light_State" type="text" class="input-small" data-bind="value: settings.plugins.octocaselight.gCodeStateCommand">
		</div>
	</div>
</form>
